<mat-accordion style="position: fixed; width: 400px; top: 70px; left: 1400px">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> Tabla de posiciones </mat-panel-title>
      <mat-panel-description> Aprete para ver </mat-panel-description>
    </mat-expansion-panel-header>
    <app-rank [base]="base"></app-rank>
  </mat-expansion-panel>
</mat-accordion>
<div class="hangman">
  <div>Tiempo:{{ tiempoDisponible }}</div>
  <app-ahorcado-display
    [guesses]="guesses"
    [question]="question"
    (gameFinished)="gameFinish()"
  >
  </app-ahorcado-display>
  <ng-container *ngIf="!restartGameBtn; else restartGameBtnShown">
    <app-ahorcado-preguntas
      [guesses]="guesses"
      [question]="question"
    ></app-ahorcado-preguntas>
    <app-ahorcado-teclado
      [question]="question"
      (keyPressed)="guess($event)"
    ></app-ahorcado-teclado>
  </ng-container>
  <ng-template #restartGameBtnShown>
    <button class="btn" (click)="reset()">
      {{ "Jugar otra vez" }}
    </button>
  </ng-template>
</div>
