<div class="flex">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cristian Romano</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="/assets/cuadrados.png"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        Mi juego se trata sobre cuadrados que van aperciendo en la pantalla de
        manera random , tienen diferentes colores y dimensiones el objetivo es
        apretar la mayor cantidad en un tiempo determinado.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://github.com/cristianromano">Link a github</a>
    </mat-card-actions>
  </mat-card>
</div>
