.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 93.1%;
  width: 100%;
  background-color: black;
}

mat-card-content {
  height: 150px;
  width: 600px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}

img {
  width: 500px;
  height: 300px;
}
