<div class="imageboard">
  <div class="item" (click)="irAhorcado()">
    <img src="assets/hangman.png" alt="Image 1" />
  </div>
  <div class="item" (click)="irCartas()">
    <img src="assets/cartas2.jpg" alt="Image 2" />
  </div>
  <div class="item">
    <img src="assets/question.jpg" (click)="irPreguntas()" alt="Image 3" />
  </div>
  <div class="item">
    <img src="assets/cuadrados.png" alt="Image 4" (click)="irCuadrados()" />
  </div>
  <div style="position: absolute; bottom: 0px; right: 10px">
    <app-chat></app-chat>
  </div>
</div>
